body {
  background: 
    linear-gradient(rgba(59, 104, 103, 0.44), rgba(255, 255, 255, 0.85)),
    url('./images/Cachorro.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

/* Asegura legibilidad del contenido */
.box, .card {
  background-color: #34495e;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
